<link rel="stylesheet" href="../../stylesheets/application.scss">

<h1 class="h1_edit">Editer</h1>

<div class="d-grid gap-2 col-6 mx-auto">
<%= render "form", boeuf: @boeuf %>
</div>

<div class=" d-grid gap-2 col-6 mx-auto">
  <button type="button" class="btn btn-primary">Ajouter un ingrédient ou rien simonade</button>
  <button type="button" class="btn btn-secondary">Ajouter une étape</button>
</div>
<script src="../../assets/javascript/edit.js">

<br>

<div>
  <%= link_to "Show this boeuf", @boeuf %> |
  <%= link_to "Back to boeufs", boeufs_path %>
</div>
