<!-- Header -->
<link rel="stylesheet" href="../../stylesheets/application.scss">

  <div class="img_header">
    <div class="container text_header">
      <h1>
        <strong>LIBEREZ VOTRE POTENTIEL</strong>
      </h1>
      <p>
        Explorez un monde de saveurs tout en atteignant vos objectifs grâce à des recettes adaptées
      </p>
    </div>
    <img src="https://s3-alpha-sig.figma.com/img/9a1f/7b30/28624149ade00fab2b539d7630041700?Expires=1709510400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=d-fAxOv~VeYBvrAzTPWYsIiblu4x767qKqXQuo9XnGvn5SRt~lRD-XKCU8g~RqDdVsVbSvzh0xeFOC37DG2KBjHdag2eBOFdm0wksu~IyWCqNG~qhwyKcRkPJ5b5WwrpLOJZ9LUtOTsdtE40i4KBcvqnI9ilt5iLVHilfOJJHdaQ5ZTtXkmIhFAaSOoCluvFA0LW4JbL4s9g5j3a-Yk4ApzccpCDb4BmzI60FBHC37Md-B54YtG6-EuvqQwXhP3tfGiYy5x696tpY8GFD9OFZ8ZpiApVH39Y83w0RpZ~WQYWFz6J9vkX~ejp1nDLbtBXPkubQNttIRquBc7cqKIENg__" alt="image header">
  </div>

  <div>
    <p class="text-recette">
      Choisis ta recette
    </p>
    <p class="descriptif-top">
      Avec notre collection de recettes variées, nous avons de quoi satisfaire tous vos objectifs.
    <p>

  </div>

<p style="color: green"><%= notice %></p>

<div id="boeufs">
  <div class="box_food row">
  <div class="col-md-6">
  <% @boeufs.each do |boeuf| %>
    <%= render boeuf %>
    <div class="container new-container">
      <a>
        <button class="button_show">
          <strong><%= link_to "Voir la recette", boeuf %></strong>
        </button>
      </a>
    </div>
  </div>
  <div class="col-md-6">
  <% end %>
  </div>
</div>
    <div class="container new-container2">
      <a>
      <button class="button_new">
      <strong><%= link_to "Nouvelle recette", new_boeuf_path %></strong>
      </button>
    
    </div>