<!-- Header -->
<link rel="stylesheet" href="../../stylesheets/application.scss">

<p style="color: green"><%= notice %></p>

<div id="boeufs">
  <% @boeufs.each do |boeuf| %>
    <%= render boeuf %>
    <div class="container new-container">
      <a>
        <button class="button_show">
          <strong><%= link_to "Voir la recette", boeuf %></strong>
        </button>
      </a>
    </div>
  <% end %>
</div>
<div class="container new-container2">
  <a>
  <button class="button_new">
  <strong><%= link_to "Nouvelle recette", new_boeuf_path %></strong>
  </button>
  </a>
</div>