<!-- Header -->
<link rel="stylesheet" href="../../stylesheets/application.scss">

  <div class="img_header">
    <div class="container text_header">
      <h1>
        <strong>LIBEREZ VOTRE POTENTIEL</strong>
      </h1>
      <p>
        Explorez un monde de saveurs tout en atteignant vos objectifs grâce à des recettes adaptées
      </p>
    </div>
    <img src="https://antoine.courcaud.fr/header.png" alt="image header">
  </div>

  <div>
    <p class="text-recette">
      Choisis ta recette
    </p>
    <p class="descriptif-top">
      Avec notre collection de recettes variées, nous avons de quoi satisfaire tous vos objectifs.
    <p>

  </div>

<p style="color: green"><%= notice %></p>

<div id="boeufs">
  <div class="box_food row">
  <div class="col-md-6">
  <% @boeufs.each do |boeuf| %>
    <%= render boeuf %>
    <div class="container new-container">
      <a>
        <button class="button_show">
          <strong><%= link_to "Voir la recette", boeuf %></strong>
        </button>
      </a>
    </div>
  </div>
  <div class="col-md-6">
  <% end %>
  </div>
</div>
    <div class="container new-container2">
      <a>
      <button class="button_new">
      <strong><%= link_to "Nouvelle recette", new_boeuf_path %></strong>
      </button>
    
    </div>